---
layout: default
title: Samuel Scott's Research
---
<div class="blurb">
    <h2> My research seeks to elucidate the hydrological, chemical, and geologic processes that govern heat transfer and act
    to distribute chemical elements throughout the upper crust. I am particularly interested in how
    flows of vapor and liquid in magma-driven geothermal systems, how they affect hydrologic and chemical measurements from 
   wellbores and produced fluids. The methods I employ include the Complex Systems Modeling Platform, 
   and the GEMS and WATCH geochemical modeling packages. 
	
<ul>
  <li><a href="#item1">How geothermal systems develop under different geologic conditions over time</a></li>
  <li><a href="#item2">Supercritical water at the magma-hydrothermal interface</a></li>
  <li><a href="#item3">The liquid and gas geochemistry of active systems</a></li>
  <li><a href="#item4">Fluid phase separation in the deep parts of saline geothermal systems</a></li>
 <!-- <li><a href="#item5">Effects of magmatic gas input, fluid flow and phase separation on rock alteration</a></li> -->
</ul>
	    </h2>

	<a NAME="item1"></a><h1>The thermal structure and temporal evolution of geothermal systems</h1>
	<p> My research has shown primary geologic factors such as host rock permeability and intrusion depth 
	control the depth and extent of boiling zones, the number and spatial configuration of upflow plumes,
	and how these aspects evolve over the systems' lifetime (published in <a target="_blank" href="/papers/Scott, 
	Driesner, Weis - 2016 - The thermal structure and temporal evolution of high-enthalpy geothermal systems.pdf"><i>Geothermics</i></a>). </p>
	
	{% include image.html
            img="pictures/Figure5-smaller.png"
	    style="width: 150px;"
            title="Snippet from Geothermics paper"
	    caption="<b>Figure</b>: Effect of host rock permeability and intrusion emplacement depth on the transient development of 
	geothermal systems and the depth of boiling zones (highlighted with diagonal lines). In <b>a</b>.-<b>f</b>., the emplacement depth is 2.5 km and host rock permeability
	is set to 10<sup>-14</sup> m<sup>2</sup> (<b>a</b>.-<b>c</b>.) or 10<sup>-15</sup> m<sup>2</sup> (<b>d</b>.-<b>f</b>.). In <b>g</b>.-<b>i</b>., the emplacement depth
        is 3 km and host rock permeability is set to 10<sup>-15</sup> m<sup>2</sup>. The simulation
	time of the snapshot is shown in lower left. Isotherms and isobars are shown in red
	and blue, respectively. The light grey areas show the location of the upflow plume,
	defined as areas where the vertical component of the liquid pore velocity is positive.
	The dark grey areas show the intrusion, which is characterized by permeability ≤10<sup>-16</sup> m<sup>2</sup>." %}

	
	<p>
	Host rock permeability is a primary control on the general structure, temperature distribution and extent of boiling zones, as systems
	with high permeability show shallow boiling zones restricted to ≤1 km depth, while intermediate permeability systems display 
	vertically extensive boiling zones reaching from the surface to the intrusion.  Intrusion emplacement depth is a further control, 
	as intermediate permeability systems driven by an intrusion at ≥3 km depth only show boiling above 1 km. The development of 
	multiple, spatially separated upflow plumes above a single intrusive body is characteristic of systems with high permeability and 
	deep emplacement depth. Systems exhibit characteristic lateral and vertical gradients in pressure, temperature and enthalpy 
	relative to the intrusive heat source, which may aid in geothermal exploration and interpretation of field measurements.   
	</p>
		
			
	<a NAME="item2"></a><h1>Supercritical water at the magma-hydrothermal interface</h1>
	<p>Ever since the Iceland Deep Drilling Project (<a href="http://www.iddp.is">IDDP</a>) drilled into a 430 &#8451 fluid reservoir
	with the potential to generate roughly 35 MWe above a 2 km deep magmatic intrusion at the Krafla geothermal system, 
	there has been growing interest in tapping into supercritical geothermal resources to dramatically improve the efficiency and cost-effectiveness of 
	power production from high-enthalpy geothermal systems.  Numerical models of pure water flow above magmatic intrusions show how primary geologic 
	factors influence of the temperature and spatial extent of supercritical geothermal resources (published in <a target="_blank" href="/papers/Scott, 
	Driesner, Weis - 2015 - Geologic controls on supercritical geothermal resources above magmatic intrusions.pdf"><i>Nature Communcations</i></a>). </p>
		
		{% include image.html
            img="pictures/figure2.png"
	    style="width: 100px;"
            title="Snippet from Nature Communcations paper"
	    caption="<b>Figure</b>: Supercritical geothermal resource formation depends on host rock permeability. Fluid phase state 
	   distribution shown with colors (see legend) and temperature distribution shown with black lines. Snapshots
	   under different conditions of host rock permeability (<i>k<sub>o</sub></i>) with a brittle-ductile transition temperature of 450 &#8451.
	   We vary <i>k<sub>o</sub></i> from (<b>A</b>) 10<sup>-14</sup> m<sup>2</sup>  to (<b>B</b>) 10<sup>-15</sup> m<sup>2</sup>." %}
		
	<p>  
	If the rock surrounding an intrusion is highly permeable (<b>A</b>), supercritical resources will be close to the intrusion, relatively limited in spatial extent, and at temperatures near 400 &#8451. If the rock surrounding
	the intrusion is moderately permeable (<b>B</b>), the reservoirs will be larger and at higher temperatures. However, the fluid production rate for a well
	drilled into a supercritical reservoir will be higher when rock permeability is higher. Thus, there is a trade-off between fluid temperature and well
	productivity that is governed primarily by rock permeability. Furthermore, the models reproduce measured data from the IDDP-1 well when the geologic controls are set
	to appropriate values for the Krafla system. In contrast to previous thoughts that fluid pressures in 
	excess of the critical pressure of pure water are necessary for supercritical resource formation, the models show high
	enthalpy of water at supercritical temperatures and subcritical pressures actually promotes the development of economically 
	attractive resources above shallow intrusions. Moreover, the models show how conventional geothermal resources result simply from 
	the mixing of supercritical fluids ascending from the intrusion and cooler fluids circulating near the intrusion but not heated 
	to supercritical conditions. These are new ways to look at conventional and supercritical high-enthalpy geothermal reservoirs. 
	</p>
	
	
	<a NAME="item3"></a><h1>The liquid and gas geochemistry of active systems</h1>
	<p>
	 Based on samples of vapor and liquid obtained from two-phase well discharges in the Hellisheiði geothermal system,
	deep aquifer fluid chemical compositions were reconstructed and used to update the conceptual model of the system
	(published in  <a target="_blank" href="/papers/Scott et al. - 2014 - Gas chemistry, boiling and phase segregation in a geothermal system, Hellisheidi, Iceland.pdf"><i>Geochimica et 
	Cosmochimica Acta</i></a>). The study emphasized how phase segregation effects could be taken into consideration 
	when modeling the aquifer fluid compositions of excess-enthalpy wells, which discharge much more vapor than would result from  
	closed-system boiling of the initial aquifer fluid. </p>
	
	{% include image.html
            img="pictures/figure_gca2.png"
	    style="width: 150px;"
            title="Snippet from GCA paper"
	caption="<b>Figure</b>: Comparison of calculated concentrations of H<sub>2</sub>S, H<sub>2</sub> and CO<sub>2</sub> 
	in aquifer fluids of the Hellisheidi system with predicted concentrations assuming equilibrium with alteration mineral
	buffers. Dotted lines show the total range of variability due to assumed phase segregation conditions." %}
		
	<p> The calculated concentrations of volatile species in the aquifer fluid are very sensitive to the 
		assumed phase segregation conditions while non-volatiles are not greatly affected by this model 
		parameter. However, the concentrations of reactive compounds closely approach 
		to fluid–mineral equilibrium at aquifer temperatures above 250 &#8451C. The CO<sub>2</sub> concentrations are
	 below equilibrium with respect to the likely mineral buffers, which suggests a possible source control. Elevated 
		H<sub>2</sub> concentrations indicate a small equilibrium vapor fraction in aquifer fluids (≤0.2% by mass 
		or ≤3% by volume). Based on the spatial distribution of volatiles and chloride, an updated conceptual model 
		is proposed with multiple upflow zones as opposed to a central upflow zone below the Hengill central volcano. </p>
	
	<a NAME="item4"></a><h1>Fluid phase separation in the deep parts of saline geothermal systems</h1>
	
	<p> Several active high-enthalpy geothermal systems, such as Reykjanes in Iceland or
	Salton Sea in California, feature geothermal waters containing significant concentrations of
	dissolved salt. Saline water phase relations, approximated by the system H<sub>2</sub>O-NaCl, differ significantly from
	those of pure water, and liquid-vapor coexistence can extend to temperatures and pressures far above the critical 
	values of pure water. Numerical simulations of subaerial, magma-driven, saline hydrothermal systems
	(recently published in <a target="_blank" href="/papers/GRL.pdf"><i>Geophysical Research Letters</i></a>) reveals that fluid phase 
	separation near the intrusion is a first order control on the dynamics and efficiency of heat and mass transfer. 
	
		<!-- {% include image.html
            img="pictures/GRLfig1.png"
	    style="width: 150px;"
            title="Snippet from GRL paper"
	caption="<b>Figure</b>: Phase diagram of the system H<sub>2</sub>O-NaCl illustrating the effect of intrusion depth on the 
	style of phase separation of an initial seawater-salinity fluid. The blue path represents the circulation from the surface to
~2.5km depth, followed by upflow and boiling, while the orange path represents the circulation to ~4.5km depth, followed by upflow and condensation." %} -->
		
	
	Above shallow intrusions emplaced at 2.5 km depth, phase separation through boiling of saline liquid leads to accumulation 
	of low-mobility hypersaline brines and halite precipitation, thereby reducing the efficiency of heat and mass transfer. Above
	deeper intrusions (>4 km), where fluid pressure is >30 MPa, phase separation occurs by condensation of hypersaline brine from 
	a saline intermediate-density fluid. The fraction of brine remains small, and advective, vapor-dominated mass and heat fluxes 
	are maximized. We thus hypothesize that, in contrast to pure water systems, for which shallow intrusions make better targets 
	for supercritical resource exploitation, the optimal targets in saline systems are located above deeper intrusions. </p>
	
	 <!-- <a NAME="item5"></a><h1>Effects of magmatic gas input, fluid flow and phase separation on rock alteration</h1>
	<p>Flow of high-temperature geothermal fluids containing significant concentrations of reactive compounds leads to dissolution
    of primary minerals, precipitation of secondary alteration minerals, and changes the thermo-mechanical behavior of the rock mass, 
		which in turn permeability changes that alter fluid flow dynamics. </p> -->
	
</div><!-- /.blurb -->
